// global
* {
    box-sizing: border-box;
    margin: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}

// header

nav {

    .container {
        font-family: 'Fira Sans';

        .logo {
            display: flex;
            color: #000;
            align-items: center;
            margin-right: 261px;
            font-weight: 600;
            gap: 11px;

            @media (max-width: 768px) {
                margin-right: 0;
            }

            @media (width: 1024px) {
                margin-right: 168.5px;
            }

            @media (width: 1440px) {
                margin-right: 351px;
            }

                .logo_text {
                    display: flex;
                    gap: 0;

                    .job {
                        color:#1A75E8;
                    }
                }
            }

        .menu_list {
            display: flex;
            padding: 0;
            margin-right: 261px;
            margin-bottom: 0;
            gap: 20px;

            @media (max-width: 768px) {
                margin-right: 0;
            }

            @media (width: 1024px) {
                margin-right: 168.5px;
            }

            @media (width: 1440px) {
                margin-right: 351px;
            }

            li {
                display: inline-block;          
            }
        }
    }
        .email {
            display: flex;
            gap: 60px;

            a {
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .registration {
                color: white;
                text-align: center;
                background: #1A75E8;
                padding-top: 15px;
                padding-bottom: 15px;
                border-radius: 5px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }  
    }

// category
.category{
    margin: 80px auto -80px;

    &_btn{
        width: calc( (100% / 6) - (332px / 6));
        height: 128px;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: background .3s, color .3s;

        &:hover{
            background: #1A75E8;

            path{
                fill: #fff;
            }
            & a{
                color: white;
            }
        }
    }
    h3{
        margin: 1px auto 40px;
        font-family: 'Fira Sans';
        font-weight: 700;
        font-size: 24px;
    }
    a{
        font-family: 'Fira Sans';
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: #111238;
    }
}

.subs {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans';
    background: #F2F3F6;
    height: 446px;

    .block {

        width: 460px;
        height: 277px;
 
        h3 {
            text-align: center;
            font-weight: 900;
            font-size: 36px;
        }

        p {
            text-align: center;
            font-weight: 400;
            font-size: 18px;
        } 
           
        .sub {

            display: flex;
            align-items: center;
            justify-content: space-between;            
            background: #FFFFFF;
            border: 1px solid rgba(209, 209, 209, 0.1);
            box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
            border-radius: 5px;
            width: 447px;
            height: 70px;
            margin: 0;
            padding-right: 10px;
            padding-left: 25px;
                        
            input {
                border: 0;
            }
    
            .btn {
                display: flex;
                gap: 10px;
                padding: 15px 30px;  
                background: #1A75E8;
                border-color: #1A75E8;
                border-radius: 5px; 
                color: #FFFFFf;
            }
        }
    }
}

.footer{
    margin: 70px auto 64px;

    &_info{
        h4{
            padding-top: 35px;
            padding-bottom: 70px;
        }
        p{
            font-family: 'Fira Sans';
            font-weight: 400;
            font-size: 12px;
            opacity: 0.5;
        }
    }
    &_menu{
        h4{
            font-family: 'Fira Sans';
            font-weight: 700;
            font-size: 16px;
            color: #111238;
        }
        a{
            font-family: 'Fira Sans';
            font-weight: 400;
            font-size: 16px;
            color: #111238;
            transition: 0.3s;

            &:hover{
                color: #1A75E8;
            }
        }
    }
}