
// global

* {
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// header 

header {
    margin-top: 44px;
    font-family: 'Fira Sans';
    font-weight: 400;

    .header {
        display: flex;
        height: 49px;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;

            .logo_text {
                display: flex;
                align-items: center;
                height: 12.16px;
                margin-left: 11px;

                .job {
                    color: #1A75E8;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }

        .navbar {

            ul {
                display: flex;
                padding: 0;
                margin-top: 15px;
                margin-bottom: 15px;
                gap: 20px;
            }

            li {
                display: inline-block;          
            }
        } 
        
        .email {
            display: flex;
            gap: 60px;

            a {
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .registration {
                color: white;
                background: #1A75E8;
                padding-top: 15px;
                padding-bottom: 15px;
                border-radius: 5px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}

// hero

// main 

// footer